html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  font-family: "Manrope", sans-serif;
}

body {
  background: rgb(20, 20, 20);
}

img {
  max-width: 100%;
}

section,
main,
header,
footer {
  transform: translate3d(0, 0, 0);
}

a {
  outline: none;
  img {
    -webkit-user-drag: none;
  }
}
