.Panel {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin-top: 20px;
  p {
    margin: 0;
    color: white;
  }

  button {
    cursor: pointer;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: black;
    color: white;

    &:hover {
      background: #333;
    }
  }
}
